.final {
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.final_contato {
    color: var(--azul);
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 24px;
}

.final_tel {
    text-decoration: none;
    color: var(--branco);
    background-color: var(--azul);
    border-radius: 18px;
    padding: 10px;
}

.final_fundo {
    z-index: 0;
    height: 70vh;
    width: 100vw;
    position: absolute;
    background-size: cover;
    opacity: 0.1;
}

.final_conteudo {
    z-index: 2;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 820px) {
    .final {
        height: 50vh;
    }
    
    .final_fundo {
        height: 50vh
    }
}